    <section class="header">
      <h2 id="gameId"></h2>
      <h2 id="userId"></h2>
      <h2 id="turno"></h2>
    </section>

    <!-- JUGADORES - INICIO -->
    <div id="juego" class="flex">
      <div id="jugador0" class="">
        <h2 id="name"></h2>
        <div class="mano" id="mano"></div>
      </div>
      <div id="jugador1" class="">
        <h2 id="name"></h2>
        <div class="mano" id="mano"></div>
      </div>
      <div id="jugador2" class="">
        <h2 id="name"></h2>
        <div class="mano" id="mano"></div>
      </div>
      <div id="jugador3" class="">
        <h2 id="name"></h2>
        <div class="mano" id="mano"></div>
      </div>
    </div>
    <!-- JUGADORES - FIN -->

    <div class="cartasMazo">
      <div id="mazo1" class="mazo">
        <h2>Última carta</h2>
        <img src="" alt="" id="cartaUsada">
      </div>
      <div id="mazo2" class="mazo">
        <h2>Mazo</h2>
        <img src="./Assets/img/back.jpg" alt="" id="mazo">
      </div>
      <div class="buttons">
        <button id="usarCarta" class="button2">Usar carta</button>
        <button id="robarCarta" class="button2">Robar carta</button>
      </div>
    </div>
    <div id="div2">

    </div>